@keyframes scroll-horizontal {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animate-scroll-horizontal {
	animation: scroll-horizontal 30s linear infinite;
}

.hover\:pause-animation:hover {
	animation-play-state: paused;
}


